/isite-exam/isite-exam-data/target/
/isite-exam/isite-exam-admin/target/
/isite-exam/isite-exam-starter/target/
/isite-oa/isite-oa-admin/target/
/isite-oa/isite-oa-data/target/
/isite-oa/isite-oa-starter/target/
/isite-bi/isite-bi-data/target/
/isite-bi/isite-bi-admin/target/
/isite-project/isite-project-admin/target/
/isite-project/isite-project-data/target/
/isite-project/isite-project-starter/target/
/isite-wms/isite-wms-admin/target/
/isite-wms/isite-wms-data/target/
/isite-wms/isite-wms-starter/target/
/isite-question/isite-question-admin/target/
/isite-question/isite-question-data/target/
