/isite-exam/exam-data/target/
/isite-exam/exam-admin/target/
/isite-exam/exam-starter/target/
/isite-oa/oa-admin/target/
/isite-oa/oa-data/target/
/isite-oa/oa-starter/target/
/isite-bi/bi-data/target/
/isite-bi/bi-admin/target/
/isite-project/project-admin/target/
/isite-project/project-data/target/
/isite-project/project-starter/target/
/isite-shop/shop-admin/target/
/isite-shop/shop-data/target/
/isite-shop/shop-starter/target/
/isite-wm/wm-admin/target/
/isite-wm/wm-data/target/
/isite-wm/wm-starter/target/

