<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.isite.oa.mapper.AttendanceRecordMapper">

    <select id="selectAttendanceRecords" resultType="AttendanceRecordPo">
        <!-- <![CDATA[ ... ]]> 块中的内容不会被解析为XML标记，而是作为纯文本处理。 -->
        select id
        from attendance_record
        where id <![CDATA[>]]> #{minId} and attendance_period = #{attendancePeriod}  and id % #{shardTotal} = #{shardIndex}
        limit 100
    </select>
</mapper>